mqtt-2-nodemcu-nodered/nodered-nos.txt
[{"id":"22edc327.6a36bc","type":"tab","label":"Automação Residencial","disabled":false,"info":""},{"id":"ad95baf4.c3ef38","type":"mqtt in","z":"22edc327.6a36bc","name":"","topic":"pir","qos":"2","broker":"bd08cfaf.1bf96","x":160,"y":180,"wires":[["4288832e.141d7c","b3f956d6.37be58"]]},{"id":"ef8369c0.453ec8","type":"mqtt out","z":"22edc327.6a36bc","name":"","topic":"led","qos":"","retain":"","broker":"bd08cfaf.1bf96","x":720,"y":4520,"wires":[]},{"id":"ccb30e3b.b803b","type":"ui_switch","z":"22edc327.6a36bc","name":"","label":"switch","group":"171909fe.3b5556","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"led","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":490,"y":4520,"wires":[["ef8369c0.453ec8"]]},{"id":"4288832e.141d7c","type":"debug","z":"22edc327.6a36bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":260,"wires":[]},{"id":"b3f956d6.37be58","type":"switch","z":"22edc327.6a36bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":380,"wires":[["d36fe361.4da57"],["57e16764.18b788"]]},{"id":"efb0bc41.37a8f","type":"mqtt out","z":"22edc327.6a36bc","name":"","topic":"led","qos":"","retain":"","broker":"bd08cfaf.1bf96","x":790,"y":420,"wires":[]},{"id":"d36fe361.4da57","type":"function","z":"22edc327.6a36bc","name":"","func":"msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["efb0bc41.37a8f"]]},{"id":"57e16764.18b788","type":"function","z":"22edc327.6a36bc","name":"","func":"msg.payload = \"ON\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["efb0bc41.37a8f"]]},{"id":"bd08cfaf.1bf96","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"171909fe.3b5556","type":"ui_group","z":"","name":"Led","tab":"16342516.934a8b","order":1,"disp":true,"width":"6","collapse":false},{"id":"16342516.934a8b","type":"ui_tab","z":"","name":"Startup Cidadã","icon":"dashboard","order":1}]